* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    background-color: rgb(200, 200, 255);
    height: 100%;
}

h2 {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    background-color: rgb(254, 206, 255);
    padding: 5px;

}

p {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: large;
    height: 90%;
    display: flex;
}